<div class="register-container full-height sm-p-t-30">
	<div class="container-sm-height full-height">
		<div class="row row-sm-height">
			<div class="col-sm-12 col-sm-height col-middle">
				<img src="{{ asset('assets/img/logo.png') }}" alt="logo" data-src="{{ asset('assets/img/logo.png') }}" ui-jq="unveil" data-src-retina="{{ asset('assets/img/logo_2x.png') }}" width="78" height="22">
				<h3>Something about application</h3>
				<p><small>Create a Stakeholders account. If you have a facebook account, log into it for this process. Sign in with <a href="" class="text-info">Facebook</a> or <a href="" class="text-info">Google</a></small></p>
				<form id="form-register" class="p-t-15" role="form" name="register" novalidate ng-submit="signUp()" ng-controller="RegisterCtrl">
					<div class="row">
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.uname.$invalid && !register.uname.$pristine }">
								<label>Username</label>
								<input type="text" name="uname" placeholder="Username" class="form-control" ng-model="user.username" required>
							</div>
							<label class="error" for="uname" ng-show="register.uname.$invalid && !register.uname.$pristine">This field is required.</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.email.$invalid && !register.email.$pristine }">
								<label>Email</label>
								<input type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email" required>
							</div>
							<label class="error" for="email" ng-show="register.email.$invalid && !register.email.$pristine">Enter a valid email.</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
								<label>First Name</label>
								<input type="text" name="fname" placeholder="John" class="form-control" ng-model="user.fname" required>
							</div>
							<label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">This field is required.</label>
						</div>
						<div class="col-sm-6">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.lname.$invalid && !register.lname.$pristine }">
								<label>Last Names</label>
								<input type="text" name="lname" placeholder="Smith" class="form-control" ng-model="user.lname" required>
							</div>
							<label class="error" for="lname" ng-show="register.lname.$invalid && !register.lname.$pristine">This field is required.</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.pass.$invalid && !register.pass.$pristine }">
								<label>Password</label>
								<input type="password" name="pass" placeholder="Minimum of 4 Charactors" class="form-control" ng-minlength="4" ng-model="user.password" required>
							</div>
							<label class="error" for="pass" ng-show="register.pass.$invalid && !register.pass.$pristine">This field is required.</label>
							<label class="error" for="pass" ng-show="register.pass.$error.minlength">Password should have at least 4 characters</label>
						</div>
					</div>
					<div class="row m-t-10">
                        <div class="col-md-6">
                            <p>I agree to the <a href="" class="text-info small">Pages Terms</a> and <a href="" class="text-info small">Privacy</a>.</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="" class="text-info small">Help? Contact Support</a>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-cons m-t-10" type="submit" ng-disabled="register.$invalid">Create a new account</button>
                    <a ui-sref="access.login" class="btn btn-default btn-cons m-t-10">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</div>