<div class="container-xs-height full-height">
    <div class="row-xs-height">
        <div class="col-xs-height col-middle">
        	<div class="container text-center">
            	<h1>Confirmation</h1>
            	<h2 class="semi-bold">Confirmation email sent to {{ '{{ email }}' }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="pull-bottom sm-pull-bottom full-width">
    <div class="container">
        <div class="container-innner">
            <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                
            </div>
        </div>
    </div>
</div>