<div class="container-fluid padding-25 sm-padding-10 sm-gutter" ng-controller="DashboardCtrl">
	<div class="row">
		<div class="col-md-6 col-xlg-5">
			<div class="row">
				DASHBOARD
			</div>
		</div>
	</div>
</div>